body{
	background-color:black;
	color:white;
	width:80%;
}
p{
	margin-left:50px;
}
img{
	float:right;
	outline:5px solid black;
	outline-offset:10px;
	margin-right:20px;
}
div{
	width:50%;
	background-color:white;
	color:black;
	padding:20px;
}