body {
	font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size:12pt;
	background-image:url('../images/rock-background.jpg');
	background-repeat:no-repeat;
	background-color:black;
	width:90%;
}
#outer-wrapper{
	/*background-color:#00CC33; #CC0099 */
	background-color:white;
	padding:1%;
	margin:2%;
	width:90%;
	margin-left:5%;
	
}
#inner-wrapper{
	background-color:black;
	box-shadow: 6px 6px 6px rgba(0,0,0,0.15);
	margin:2%;
	padding:2%;
	width:92%;
}
header
{
	margin-bottom: 2%;
	width:95%;
	padding:1%;
}

nav
{
	float: left;
	display:inline;	
	margin-bottom: 2%;
	padding:2%;
}

#content
{
	float: left;
	display:inline;	
	margin-left: 5%;
	width: 85%;
	margin-bottom: 2%;
	padding:2%;
	border:1% solid white;
	box-shadow: 6px 6px 6px rgba(0,0,0,0.15);
	background-color:white;
	background-image:url('../images/vineVector.png');
	background-repeat:no-repeat;
	background-position:top right;
}

footer
{
	clear: both;
	color:white;
	margin-bottom: 2%;
	text-align:center;
	width:95%;
	padding:1%;
}

h1 {
	font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	vertical-align:middle;
     text-shadow: 2px 2px 2px peachpuff;
     color:darkorange;
     margin-left:5%;
}
h2 {
	font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	vertical-align:middle;
     text-shadow: 2px 2px 2px black;
     color:#859181;
     margin-left:5%;
}
h3 {
	font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	vertical-align:middle;
     text-shadow: 2px 2px 2px black;
     color:white;
     margin-left:5%;
}

.col1{
	width:60%;
	float:left;
}
.col2{
	width:40%;
	float:right;
}
.col2 a {
	text-align:center;
	text-decoration:none;
	/*background: -webkit-linear-gradient(0deg, goldenrod, white, goldenrod); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(0deg, goldenrod, white, goldenrod); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(0deg, goldenrod, white, goldenrod); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(0deg, goldenrod, white, goldenrod); /* Standard syntax (must be last) */ 
	box-shadow: 6px 6px 6px rgba(211,211,211,0.15);
	/*border-radius: 15px;*/  
	margin:1%;
	padding:2%;
	color:white;

}

nav ul {
	list-style: none;
	/*position: relative;*/
	display: flex;
	flex-flow:row wrap;
	color:black;
	font-weight:900;
	text-align: center;
	margin-top:1%;
}

nav ul:after {
	content: ""; 
	clear: both; 
	display: block;
}

nav ul li {
	background: -webkit-linear-gradient(0deg, darkorange, peachpuff, darkorange); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, darkorange, peachpuff, darkorange); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, darkorange, peachpuff, darkorange); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, darkorange, peachpuff, darkorange); /* Standard syntax (must be last) */ 
	box-shadow: 6px 6px 6px rgba(211,211,211,0.15);
	border-radius: 15px;  
	margin:1%;
	padding:1%;
	width:150px;
}
nav ul li a {
	display: block; 
	padding: 10px 10px;
	color:black; 
	text-decoration: none;
}
nav ul li:hover {
	background: -webkit-linear-gradient(180deg,  white, peachpuff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, white, peachpuff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, white, peachpuff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, white, peachpuff); /* Standard syntax (must be last) */ 
   	box-shadow: 6px 6px 6px rgba(0,0,0,0.15);
}
nav ul li:hover a {
	color:black;
}
nav ul li:hover > ul {
	display: block;
}
	
nav ul ul {
	display: none;
	background: -webkit-linear-gradient(180deg, white,  darkorange); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, white,   darkorange); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, white, darkorange); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, white,   darkorange); /* Standard syntax (must be last) */ 
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	top: 100%;
	width:150px;

}
nav ul ul li {
	float: none; 
	border-top: 1px solid  darkorange;
	border-bottom: 1px solid  darkorange; 
	position: relative;
}
nav ul ul li a {
	padding: 5px 5px;
	color: #757575;
}	
nav ul ul li a:hover {
	background: -webkit-linear-gradient(0deg, darkorange, white, darkorange); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, darkorange, white, darkorange); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, darkorange, white, darkorange); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, darkorange, white, darkorange); /* Standard syntax (must be last) */ 
	color:orange;
	text-shadow:1px 1px black;
}
hr{
	margin-top:0%;
	border:none;
	height:1.1em;
	width:100%;
	color:white;
	background-color:white;
}
#showHome{
	display:none;
}
#showSocial{
	display:none;
}
#showCourses{
	display:none;
}
#showPortfolio{
	display:none;
}
#showInspire{
	display:none;
}
#showResources{
	display:none;
}

#content div ul {
	list-style: none;
	/*position: relative;*/
	display: flex;
	flex-flow:row wrap;
	color:black;
	font-weight:900;
	text-align: center;
}
#content div ul:after {
	content: ""; 
	clear: both; 
	display: block;
}

#content div ul li {
	background: -webkit-linear-gradient(0deg, #859181, white, #859181); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, #859181, white, #859181); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, #859181, white, #859181); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, #859181, white, #859181); /* Standard syntax (must be last) */ 
	box-shadow: 6px 6px 6px rgba(0,0,0,0.15);
	border-radius: 15px;  
	margin:1%;
	padding:1%;
	width:150px;
}
#content div ul li a {
	display: block; 
	padding: 10px 10px;
	color:black; 
	text-decoration: none;
}
#content div ul li:hover {
	background: -webkit-linear-gradient(180deg,  white, #a0af9c,white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, white, #a0af9c,white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, white, #a0af9c,white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, white, #a0af9c,white); /* Standard syntax (must be last) */ 
   	box-shadow: 6px 6px 6px rgba(0,0,0,0.15);
}
#content div ul li:hover a {
	color:black;
}
#content div ul li:hover > ul {
	display: block;
}
